:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container-coors{
  display: flex;
  justify-content: center;
  
}

.content-table{
  width: 60%;
  background-color: rgb(0, 0, 0);
}

.table-title{
  width: 30%;
  background-color: yellow;
}
.table-item{
  width: 60%;
  background-color: white;
}


