:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container-coors{
  display: flex;
  justify-content: center;
  
}

.content-table{
  width: 60%;
  background-color: rgb(0, 0, 0);
}

.table-title{
  width: 30%;
  background-color: yellow;
}
.table-item{
  width: 60%;
  background-color: white;
}


